@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  width: 100%;
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 12px 16px;
  outline: none;
}

.input:focus {
  border-color: #568F87;
  box-shadow: 0 0 0 2px rgba(86, 143, 135, 0.2);
}